.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 200px;
}

.sidenav .mat-toolbar {
    font-family: "Nunito";
    background: inherit;
}

.mat-toolbar.mat-primary {
    background-color: #525252;
    color: white;
    font-family: "Nunito";
    position: sticky;
    top: 0;
    z-index: 1;
}

.main-logo-bcol {
    padding-left: 5px;
    max-width: 40px;
}

.nav-spacer {
    flex: 1 1 auto;
}