.register-title {
    text-align: center;
    margin: 40px auto 40px auto;
}

.signup-content {
    padding: auto 1rem;
}

.full-width-input {
    width: 100%;
}

mat-card {
    max-width: 500px;
    margin: 2em auto;
    text-align: center;
}